@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #cfd0cf;
  color: #434344;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 595px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

.header {
  margin: 40px 0;
  text-align: center;
}

.header__title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 47px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 25px 0;
}

.flip {
  -webkit-perspective: 600;
          perspective: 600;
  cursor: pointer;
}

.flip__body {
  position: relative;
  width: 130px;
  height: 130px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip__front,
.flip__back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  border: 5px solid #fff;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.flip__front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  background: #22ab93;
  background: -o-linear-gradient(45deg, #22ab93 0%, #19668d 100%);
  background: linear-gradient(45deg, #22ab93 0%, #19668d 100%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flip__back {
  font-size: 75px;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  background-color: white;
}

.rot {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.timer {
  margin: 40px 0;
  text-align: center;
}

.timer__title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.popup {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  min-width: 350px;
}

.popup__title {
  margin: 0 0 1em 0;
  cursor: default;
}

.popup__text {
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  font-weight: 700;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  background: -webkit-gradient(linear, right top, left top, from(#22ab93), to(#19668d));
  background: -o-linear-gradient(right, #22ab93 0%, #19668d 100%);
  background: linear-gradient(-90deg, #22ab93 0%, #19668d 100%);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.popup__text:active {
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.5);
          box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .flip__body {
    width: 100px;
    height: 100px;
  }

  .flip__back {
    font-size: 60px;
  }
}

@media (max-width: 607px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 479.98px) {
  .row {
    margin: 0 0 10px 0;
  }

  .flip__body {
    width: 70px;
    height: 70px;
  }

  .flip__front,
  .flip__back {
    border: 3px solid #fff;
  }

  .flip__back {
    font-size: 45px;
  }
}